################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Application.pdb
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Application/obj/Debug/net6.0/ref/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/refint/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.AssemblyInfo.cs
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.AssemblyInfoInputs.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.csproj.AssemblyReference.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.pdb
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.sourcelink.json
/Core/BookShop.Domain/bin/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Domain/bin/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Domain/obj/Debug/net6.0/ref/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/refint/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.AssemblyInfo.cs
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.sourcelink.json
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.sourcelink.json
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.pdb
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.AssemblyInfo.cs
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/refint/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/ref/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Domain.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Domain.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Application.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.AssemblyInfoInputs.cache
