################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Application.pdb
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Application/obj/Debug/net6.0/ref/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/refint/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.AssemblyInfo.cs
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.AssemblyInfoInputs.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.csproj.AssemblyReference.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.pdb
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.sourcelink.json
/Core/BookShop.Domain/bin/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Domain/bin/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Domain/obj/Debug/net6.0/ref/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/refint/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.AssemblyInfo.cs
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.pdb
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.sourcelink.json
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.sourcelink.json
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.pdb
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.csproj.AssemblyReference.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.AssemblyInfoInputs.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.AssemblyInfo.cs
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/refint/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/ref/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Domain.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Domain.dll
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Application.pdb
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Application.dll
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.AssemblyInfoInputs.cache
/Infrastructure/BookShop.Infrastructure/obj/project.nuget.cache
/Core/BookShop.Application/bin/Debug/net6.0/BookShop.Application.deps.json
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.assets.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.csproj.CoreCompileInputs.cache
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.csproj.FileListAbsolute.txt
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.Application.GeneratedMSBuildEditorConfig.editorconfig
/Core/BookShop.Application/obj/Debug/net6.0/BookShop.EA109BD1.Up2Date
/Core/BookShop.Application/obj/project.nuget.cache
/Core/BookShop.Domain/bin/Debug/net6.0/BookShop.Domain.deps.json
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.assets.cache
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.csproj.CoreCompileInputs.cache
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.csproj.FileListAbsolute.txt
/Core/BookShop.Domain/obj/Debug/net6.0/BookShop.Domain.GeneratedMSBuildEditorConfig.editorconfig
/Core/BookShop.Domain/obj/project.nuget.cache
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.deps.json
/Infrastructure/BookShop.Infrastructure/bin/Debug/net6.0/BookShop.Infrastructure.runtimeconfig.json
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.DEFFB5D7.Up2Date
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.assets.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.csproj.CoreCompileInputs.cache
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.csproj.FileListAbsolute.txt
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Infrastructure/BookShop.Infrastructure/obj/Debug/net6.0/BookShop.Infrastructure.genruntimeconfig.cache
